body{
background-color: burlywood;
margin: 0;
font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
background-color: gold;
align-items: center;
justify-content: space-between;
padding: 10px;
display: flex;
}
h1{
color: blue;
font-size: 30px;

}
input{
width: 400px;
height: 100px;
}
button{
background-color: wheat;
width: 150px;
border-radius: 30px;
}